# Dependencies
node_modules/

# Next.js build output
.next/

# Production build
out/

# Local env files
.env
.env.*
!.env.example

# Uploads
uploads/
public/uploads/

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.example
